<div class="container new-coc">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :ingredient , collection: Ingredient.all %>
    <%= f.input :description %>
    <%= f.submit "add a ingredient", class: "btn btn-primary" %>
  <% end %>
</div>
