<h1>Doses#new</h1>
<p>Find me in app/views/doses/new.html.erb</p>
<div class="container">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :ingredient , collection: Ingredient.all %>
    <%= f.input :description %>
    <%= f.submit "add a ingredient", class: "btn btn-secondary" %>
  <% end %>
</div>
